<section class="skills">
    <h2>Skills you shall learn</h2>
    {{#each model as |skill|}}
    <li>
        <div class="skill-info">
            <h3>{{skill.name}}</h3>
            <p>{{skill.description}}</p>
        </div>
        <div class="edit-skill">
            {{#link-to "update" skill.id}}
            <img src="https://files.gamebanana.com/img/ico/sprays/1stardb.png" alt="edit/delete"> {{/link-to}}
            <small>Edit</small>
        </div>
    </li>
    {{/each}}
</section>
<form onsubmit={{action "addSkill"}}>
    <h2>What skill would you like to learn?</h2>
    <label for="name">Name of Skill</label>
    {{input type="text" value=name name="name" placeholder="Superhuman speed"}}
    <label for="description">Describe Skill</label>
    {{textarea value=description name="description" rows="8" cols="40" placeholder="How does it work?"}}
    <input type="submit" name="submit" value="Add skill">
</form>